#Mac OSX
.DS_Store

#Emacs
*~

#Python
*.pyc
lib/*.pyc
.ipynb_checkpoints

#Models
models/

#Datasets
datasets/demo

#Output&Resource
results/
nohup.out

# envs
*.yml
venv/
.env
*venv*/
/*.idea/
*tmp*/
